/* Variables */
:root {
  --primary-color: #587291;
  --secondary-color: rgb(238, 234, 230);
  --active-button-color: rgb(76, 175, 80);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font: "Cardo", serif;
  --body-font: "Poppins", sans-serif;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* Typography */
h1 {
  font-family: var(--heading-font);
  font-size: 60px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: var(--primary-color);
  text-align: center;
}
h2 {
  font-family: var(--body-font);
  font-size: 30px;
  margin-top: 15px;
  opacity: 0.7;
  line-height: normal;
  text-align: center;
}
h2 a {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
h3 {
  font-family: var(--body-font);
  font-size: 18px;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
h4 {
  font-family: var(--body-font);
  font-size: 30px;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.5;
}

/* Navigation */
nav {
  padding: 20px 0;
  margin-bottom: 0;
}
nav ul {
  margin-bottom: 0 !important;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 50px;
  opacity: 0.7;
}
nav a {
  font-family: var(--body-font);
  color: var(--primary-active-button-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
nav li a:hover {
  color: var(--active-button-color);
}
.logo {
  max-height: 50px;
}

/* Hero & About */
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
  margin: 0;
}
.about-hero {
  background-color: var(--secondary-color);
  width: 100%;
  text-align: center;
  padding: 30px 160px;
  margin: 20px 0;
}
.content-paragraph {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin-left: 10px;
  color: #545454;
}

/* Images */
.project-image {
  display: flex;
  padding: 20px;
  margin: 10px auto;
}
.profile-image {
  max-width: 275px;
  max-height: 275px;
}
.circular-border {
  border: 1px solid #4caf50;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  margin: 50px auto;
}

/* Navigation Links */
.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.navigation-links a {
  margin: 10px 20px;
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

/* Buttons */
.btn-branding,
.btn-branding-outline {
  text-align: center;
  border-radius: 4px;
  margin: 10px auto;
  transition: all 100ms ease-in-out;
}

.btn-branding {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.btn-launch-app {
  display: block;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  max-width: 180px;
  width: 100%;
}
.btn-branding-outline {
  border: 1px solid var(--primary-color);
  background: white;
  color: var(--primary-color);
}

.btn-branding:hover {
  background: var(--active-button-color);
}

/* Footer */
footer {
  margin-top: 60px;
  align-items: center;
}
footer .contact-box {
  background-color: var(--secondary-color);
  width: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer .social-links a {
  font-size: 20px;
  margin: 0 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
  transition: all 100ms ease-in-out;
}
.signature {
  max-width: 70px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .logo {
    max-height: 40px;
  }
  .hero {
    padding: 90px 10px;
    margin: 0;
  }
  .about-hero {
    padding: 30px 50px;
    margin: 0;
    text-align: center;
  }
  h1 {
    font-size: 40px;
    margin: 8px;
  }
  h2 {
    font-size: 18px;
    margin-top: 10px;
    line-height: normal;
    text-align: center;
  }
  nav {
    padding: 8px 0;
  }
  .logo {
    max-height: 32px;
    width: auto;
  }
  nav ul {
    padding-left: 0;
  }
  nav li {
    margin-left: 18px;
    line-height: 28px;
  }
  nav a {
    font-size: 15px;
    padding: 4px 0;
  }
  .container {
    text-align: center;
    margin: 0 auto;
  }
  .project-image {
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
  }
  .profile-image {
    max-width: 200px;
    max-height: 200px;
  }
  .project-image img {
    max-width: 100%;
    height: auto;
  }
  .content-paragraph {
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    margin: 20px 10px;
  }
  .btn-branding,
  .btn-branding-outline {
    display: block;
    text-align: center;
    font-size: 0.9rem;
  }

  .app-link {
    display: flex;
    margin: auto;
    max-width: 200px;
    padding: 7px 7px;
  }
  .app-heading {
    margin-top: 0;
    margin: 3px;
  }
  br {
    display: none;
  }
  footer {
    margin-top: 60px;
  }
  footer .contact-box {
    padding: 30px 30px;
    margin: 30px 30px;
    text-align: center;
    margin: 0;
  }
  footer .contact-box h4 {
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  .signature {
    margin-top: 10px;
    font-size: 10px;
    max-height: 6px;
  }
}
