:root {
  --primary-color: #376886;
  --secondary-color: rgb(238, 234, 230);
  --active-button-color: rgb(76, 175, 80);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font: "Cardo", serif;
  --body-font: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font);
  font-size: 60px;
  margin-bottom: 15px;
  margin-top: 15px;
}
h2 {
  font-family: var(--body-font);
  font-size: 20px;
  margin-top: 15px;
}
h2 a {
  color: var(--primary-color);
  text-decoration: none;
}
h3 {
  font-family: var(--body-font);
  font-size: 18px;
  opacity: 0.7;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

nav {
  padding: 20px 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}
.logo {
  max-height: 50px;
}
.container li a {
  color: var(--primary-active-button-color);
}

nav a {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
nav li a:hover {
  color: var(--active-button-color);
}

.content-paragraph {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #545454;
}

.project-image {
  display: flex;
  padding: 20px;
  margin: 30px auto;
}
.profile-image {
  max-width: 350px;
  max-height: 350px;
}
.circular-border {
  border: 1px solid #4caf50; /* Circle border color */
  border-radius: 50%; /* Makes the border circular */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  margin: 50px auto; /* Centers the circle */
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.navigation-links a {
  margin: 10px 20px;
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact-email {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 15px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: none;
}
.app-link {
  display: flex start;
  margin-top: 40px;
  justify-content: center;
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 18px;
    margin-top: 15px;
    line-height: normal;
    text-align: center;
  }
  h3 {
    font-size: 12px;
  }

  .content-paragraph {
    font-size: 15px;
    line-height: normal;
    text-align: center;
    line-height: 20px;
    margin: 30px 20px;
  }
  .app-link {
    display: flex;
    margin: auto;
    max-width: 200px;
    padding: 7px 7px;
  }
  .app-heading {
    margin-top: none;
  }
  .app-heading {
    margin: 3px;
  }
  br {
    display: none;
  }
  img #about-thumbnails {
    flex-direction: column;
  }
  img #homepage-photos {
    visibility: hidden;
  }
}
